################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JAG.UnitTests/bin/Debug/net8.0
/JAG.UnitTests/obj
